:root{
    --blågrå: #0B0C10;
    --dypblå:#1A1A2E; 
    --sølvgrå:#E0E0E0;
    --lysblå:#ADD8E6;
    --grønn:#618372;
    --gul:#DAA520 ;
    --shadow: 0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
}

*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 120px; /* because of fixed header */
}


 /* Navbar styling */
header {
  background-color: var(--dypblå);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%; 
  box-sizing: border-box;
  margin: 0;
  z-index: 1000;
  background-color: rgba(26, 26, 46, 0.9); /* semi transparent */
  backdrop-filter: blur(5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
  border-radius: 8px; /*  adds rounded corners to the element */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

}


h1 {
  font-family: "Space Grotesk", "sans-serif" ;
  font-size: 32px;
  margin: 20px 0;
  color:#E0E0E0;
  text-shadow: 
    0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
}

h2 {
  font-family: "Space Grotesk", "sans-serif" ;
  font-size: 1.8rem;
  color: var(--sølvgrå);
  font-weight: bold;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  list-style: none;   
  margin: 0;         
  padding: 0;        
}

.navbar ul li a {
  color: var(--sølvgrå);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar ul li a:hover {
  color: var(--sølvgrå);
  text-shadow: 0 0 8px var(--lysblå);
  
}

.hamburger {
  display: none; /* hidden as standard */
}


img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family:"Space Grotesk", "sans-serif" ;
  background-color: #0B0C10;
  color: #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url("./images/ksc-20220508-ph-snq01-0001orig.webp");
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center; 
  min-height: 100vh;   
  background-attachment: fixed;    /* covers the screen*/
}


section {
  scroll-margin-top: 150px; /* when using links on the page, fixed navbar does not hide the content */
  width: 90%;
  background-color: rgba(26,26,46,0.6);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #ADD8E6;
  box-shadow:   0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
margin: 20px;
}

.culture-img{
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3); /* myk glød */
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.culture-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(255, 255, 255, 0.5);
}

.intro-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.intro-wrapper .moon-box img {
  width: 100%;
  max-height: 300px;
  border-radius: 20px;
  display: block;
  object-fit: contain;
}


.intro-wrapper .text-box {
  flex: 1 1 auto;
  box-sizing: border-box;
}
.intro-wrapper  {
  flex: 0 0 300px;  
  display: flex;

}

.intro-wrapper .buttons{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.history-row {
  display: flex;
  gap: 2rem; 
  align-items: flex-start;
  flex-wrap:  nowrap; /* small screen */
}

.history-text {
  flex: 1; /* all available space */
}

.history-picture img {
  width: 100%;
  height: auto;
  border-radius: 12px; 
}

.history-text,
.history-picture {
  flex: 0 0 50%; /*  50% each */
  box-sizing: border-box;
}

#moon-phase {
  margin-top: 120px; /* moves the first section down (fixed header) */
}



.text-box h2 {
  color: #E0E0E0;
  margin-bottom: 10px;
}

.text-box p {
  color: #E0E0E0;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ADD8E6;
  box-shadow:  
    0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
  border: none;
  cursor: pointer;
  background-color: #1A1A2E;
  color: #E0E0E0;
  font-weight: bold;
  transition: 0.2s;
}

#myths{
  margin-left: 20px;
  margin-right: 20px;
}

.buttons button:hover {
  background-color: #E0E0E0;
  color: #1A1A2E;
}


/* Adjustments based on screen-size */

@media (max-width: 768px) {
  /* show hamburger-icon on cellphone(up to 768px) */
  .hamburger {
    display: block;
    font-size: 2.5rem;
    color: var(--lysblå);
    cursor: pointer;
    user-select: none;
  }


.intro-wrapper {
    flex-direction: column; /* stabler alt på mobil */
    align-items: center;
  }

  .moon-box, .text-box {
    flex: 1 1 100%; /* full bredde på mobil */
  }

  .buttons {
    justify-content: center;
  }

  /* Make menu vertical and hide for toggle */
  .navbar ul {
    flex-direction: column;
    gap: 1rem;
    display: none; /* hidden until hamburger kicks in */
    width: 100%;
    margin-top: 1rem;
    background-color: var(--dypblå);
    padding: 1rem 0;
  }

  /* Show menu when .active */
  .navbar ul.active {
    display: flex;
  }

  /* Center elements in vertical menu */
  .navbar ul li {
    text-align: center;
  }

   .history-row {
flex-wrap: wrap;
   }
    

     .history-text,
  .history-picture {
    flex: 0 0 100%;
  }

    .moon-container {
    flex-direction: column;
  }
}

/* device from 769px-1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .hamburger {
    display: block;
    font-size: 2.5rem;
    color: var(--lysblå);
    cursor: pointer;
    user-select: none;
  }

  .navbar ul {
    flex-direction: column;
    gap: 1rem;
    display: none; 
    width: 100%;
    margin-top: 1rem;
    background-color: var(--dypblå);
    padding: 1rem 0;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar ul li {
    text-align: center;
  }
}

/* Desktop: show menu, hide hamburger */
@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: none;
    margin-top: 0;
    padding: 0 ;
  }
}


