body {
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
  color: #E0E0E0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  margin: 20px 0;
  color:#E0E0E0;
  text-shadow: 
    0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
}

.moon-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 500px;
  width: 90%;
  margin-bottom: 20px;
}

.moon-box, .text-box {
  background-color: rgba(26, 26, 46, 0.6);
  border-radius: 20px;
  border: 1px solid #ADD8E6;
  box-shadow: 
    0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moon-box img {
  width: 100%;
  border-radius: 20px;
}

.text-box h2 {
  color: #E0E0E0;
  margin-bottom: 10px;
}

.text-box p {
  color: #E0E0E0;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ADD8E6;
  box-shadow:  
    0 0 6px rgba(255, 255, 255, 0.8),   
    0 0 12px rgba(207, 186, 31, 0.6),    
    0 0 18px rgba(219, 87, 16, 0.4); 
  border: none;
  cursor: pointer;
  background-color: #1A1A2E;
  color: #E0E0E0;
  font-weight: bold;
  transition: 0.2s;
}

.buttons button:hover {
  background-color: #E0E0E0;
  color: #1A1A2E;
}

@media (max-width: 768px) {
  .moon-container {
    flex-direction: column;
  }
}
